# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Development
.git
.gitignore
*.md
.env*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*
