services:
  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data

  redis-http:
    image: hiett/serverless-redis-http:latest
    ports:
      - "8079:80"
    environment:
      SRH_MODE: env
      SRH_TOKEN: local_token
      SRH_CONNECTION_STRING: redis://redis:6379
    depends_on:
      - redis
    restart: unless-stopped

volumes:
  redis-data:
